<div id="active">
  <h1>Active ToDos</h1>
  <ul class="list-group">
    <% active(@to_dos).each do |t| %>
      <%= render "list_item", to_do: t %>
    <% end %>
  </ul>
</div>

<%= form_for ToDo.new do |f| %>
  <p>
    <%= f.hidden_field :is_completed, value: false %>
    <%= f.text_field :description %>
    <%= f.submit "Add" %>
  </p>
<% end %>

<div id="completed">
  <h1>Completed ToDos</h1>

  <ul class="list-group">
    <% completed(@to_dos).each do |t| %>
      <%= render "list_item", to_do: t %>
    <% end %>
  </ul>
</div>

<script>
  $(document).ready(function () {
    $(".hidden").hide();

    $(".not_hidden").on("click", function (event) {
      event.preventDefault();
      var notHidden = $(this);
      var hidden     = notHidden.parent().find(".hidden");

      swap(notHidden, hidden);
    });

    $(".cancel_deletion_link").on("click", function (event) {
      event.preventDefault();

      var notHiddenLink = $(this);
      var notHidden  = notHiddenLink.parent();
      var hidden     = notHidden.parent().find(".hidden");

      swap(notHidden, hidden);
    });

    function swap (notHidden, hidden) {
      notHidden.addClass("hidden");
      notHidden.removeClass("not_hidden");
      notHidden.hide();

      hidden.addClass("not_hidden");
      hidden.removeClass("hidden");
      hidden.show();
    }
  })
</script>
