<h1>ToDos</h1>

<ul>
  <% @to_dos.each do |t| %>
    <li id=<%= "to_do_#{t.id}" %>>
      <%= t.description %>
      <%= link_to(
        "del",
        to_do_path(t),
        'data-method': :delete,
        data: { confirm: "Are you sure ?" }
      )%>
    </li>
  <% end %>
</ul>

<%= form_for ToDo.new do |f| %>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
